html { 
    background: rgba(0, 0, 0, 0.5) url(img/bgtimer.png) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
  }
p {
    text-align: center;
    font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 0px;
    color: white;
  }
#text1 {
    text-align: center;
    font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-top: 0px;
    color: white;
}
